@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    color:hsl(220, 15%, 55%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.container {
    /*width: 300px;
    height: 500px;*/
    max-width: 300px;
    background-color: hsl(0, 0%, 100%);

    /*margin: 50px auto;*/
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 15px;
}

.qrimg {
    display: flex;
    justify-content: center; 
}

.qrimg img {
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

h3 {
    padding: 0 15px;
}

.container p {
    padding: 0 15px;
}